*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html{
	font-size: 15px;
}

.clearfix::after{
	content: "";
	clear: both;
	display: block;
}

/*header-part starts*/

header{
	width: 100%;
	height: 100vh;
	background-image: url("images/banner-bg.png");
	background-size: cover;
	background-position: center;
}

nav{
	width: 100%;
	background-color:#F5F1E7;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0rem;
	position: fixed;
}

nav .toggle img{
	width: 50%;
	margin-left: 2rem;
}

nav .icons{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: 2.3rem;
}

nav .icons img{
	margin-right: 1rem;
	width: 20%;
}

/*banner part starts*/

.banner{
	width: 100%;
	padding: 3rem 10rem;
	margin:0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.banner .left{
	width: 50%;	
	padding-top: 4rem;
}

.banner .left h1{
	font-family: 'Great Vibes', cursive;
	font-size: 7.7rem;
	font-weight: 400;
	line-height: 7rem;
}

.banner .left p{
	font-family: 'Lato', sans-serif;
	
	font-size: 1rem;
	font-weight: 400;
	padding: 2.3rem 0rem;
	line-height: 1.9rem;
}

.banner .left button{
	text-transform: uppercase;
	border: none;
	padding: 1rem 3rem;
	background-color: #252525;
	color: #fff;
	font-size: 1.1rem;
	border-radius: 0.5rem;
}

.banner .left button:hover{
	background-color: lightpink;
	color: #fff;
}


.banner .right{
	width: 50%;
	padding-top: 2rem;
}

.banner .right img{
	width: 100%;
}

/*header-part ends*/

/*second-part starts*/

.second-part{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 5rem 0rem;
	font-family: 'Lato', sans-serif;
}

.second-part h1{
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	color: #232323;
	font-size: 2.8rem;
}

.second-part p{
	color: #50504f;
	padding: 1.3rem 0rem;
	font-size: 1.3rem;
}

.ladies-items , .ladies-items2 , .ladies-items3{
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 2rem 9rem;
}

.box{
	width: 20%;
	background-color: #fff;
	border: 1px solid #7d7d7c;
	padding: 2rem 0 0 0;
	margin-top: 2rem;
	margin-left: 20px;
	
}

.box h2{
	font-size: 2rem;
	color: #1a1c1b;
	font-weight: 600;

}

.box p{
	  color: #50504f;
}

.box img{
	width: 71%;
	margin: 1rem;
}

/*


*/

#img1{
	width: 94%;
}

#img2{
	width: 58%;
}

#img5{
	width: 100%;
}

#img7{
	width: 100%;

}

#img8{
	width: 80%;
}

#img9{
	width: 100%;
}

#img12{
	width: 95%;
}

.buttons{
	display:flex;
	background-color: #000;
	padding: 2rem 1rem 1rem 1rem;
	justify-content: space-between;
}

.buttons h3{
	    color: #fefefd;
	    padding-top: 0.3rem;
	    padding-right: 0rem;
}

.buttons .button1{
	color: #fff;
	border: none;
	background-color: #f5ddb6;
	padding: 0.6rem 0.6rem;
	text-transform: uppercase;
	border-radius: 2rem;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.buttons .button2{
	color: #000;
	border: none;
	background-color: #fff;
	padding: 0.6rem 0.6rem;
	text-transform: uppercase;
	border-radius: 2rem;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.button{
	text-transform: uppercase;
	background-color:#252525;
	color: #fff;
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	border-radius: 0.4rem;
	padding: 1rem 2.7rem;
	margin-top: 2.8rem;
	border: none;
}

.button:hover{
	background-color: lightpink;
	color: #fff;
}

/*second-part ends*/

/*thrid-part starts*/

.thrid-part{
	width: 100%;
	padding: 1.5rem 0rem;
	background-color: #fef4ec;

}

.thrid-part .content{
	width: 80%;
	margin:  0 auto;
	padding: 4rem 0rem;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.thrid-part .thrid-left{
	width: 50%;
}

.thrid-part .thrid-left h1{
	font-size: 2.8rem;
	font-weight: bolder;
	color: #252525;
}

.thrid-part .thrid-left p{
	padding-top: 1rem;
	font-size: 1.2rem;
	width: 95%;
	color: #252525;
	line-height: 1.8rem;
}

.thrid-part .thrid-right{
	width: 50%;
}

.thrid-part .thrid-right img{
	width: 100%;
}
/*thrid-part ends*/

/*four-part starts*/

.four-part{
	width: 100%;
	padding: 5rem 0rem;

}

.four-part h1{
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 3rem	;
}

.four-content{
	width: 50%;
	display: flex;
	margin-top: 5rem;
	justify-content: space-between;
	margin: 0 auto;
	background-color: #fff;
	padding: 2rem;
	box-shadow: 0 0 30px 1px #eeeeed;
}

.four-content .images{
	width: 35%;
}


.four-content .images img{
	width: 100%;
}

.four-right{
	width: 65%;
	padding-top: 3.2rem;
	color: #252525;
}

.four-right h2{
	font-size: 1.9rem;
	letter-spacing: 0.1rem;
}
.four-right p{
	padding-top: 0.6rem;
	font-size: 1.2rem;
	line-height: 1.7rem;
}
/*four-part ends*/

.five-part{
	width: 100%;
	margin: 0 auto;
	background-color: #fef4ec;
}

.five-content{
	width: 80%;
	display: flex;
	justify-content: space-between;
	padding: 4rem 0rem;
	margin:  0 auto;
}

.five-left{
	width: 48%;
}

.five-left h1{
	font-size: 2.6rem;
}

.five-left p {
	padding: 1rem 0rem;
	font-size: 1.3rem;
	line-height: 1.8rem;
}

.five-buttons{
	width: 48%;
	margin-top: 3rem;
}
.fibebutton2{
	font-size: 1rem;
	text-transform: uppercase;
	color: #fff;
		background-color: #252525;
	padding: 1rem 2.5rem;
	border: none;
	border-radius: 0.4rem;
}

.fivebutton{
	font-size: 1rem;
	text-transform: uppercase;
	color: #000;
		background-color: #fff;
	padding: 1rem 2.5rem;
	border: none;
	border-radius: 0.4rem;
	margin-left: 1rem;
}

.fivebutton:hover{
	color: #fff;
	background-color: #252525;
}
/*five-part ends*/

/*footer starts */

footer{
	width: 100%;
	background-color: #252525;
	margin-top: 3rem;
	color: #fff;
}

.footer-content{
	width: 80%;
	margin: 0 auto;
	padding: 5rem 0rem;
}

.footer-content .box1{
	width: 30%;
	float: left;
		margin-bottom: 3rem;
}

.footer-content .box1 h2{
	font-weight: 400;
	padding-bottom: 1rem;
}

.footer-content .box1  ul{
	list-style-type: none;
}

.footer-content .box1  li{
	font-size: 1.1rem;
	padding: 0.7rem 0rem;
}

.footer-content .box1 i{
	padding-right: 0.7rem;
	font-size: 1.2rem;
}

.footer-content .box2{
	width: 30%;
	float: left;
	text-align: center;
		margin-bottom: 3rem;
}

.footer-content .box2 h1{
	font-size: 2.6rem;
	text-transform: uppercase;
	font-weight: 500;
	padding-bottom: 0.8rem;
}

.footer-content .box2 p{
	font-size: 1.1rem;
	line-height: 1.8rem;
}

.footer-content .box3{
	width: 30%;
	float: right;
		margin-bottom: 3rem;
}

.footer-content .box3 h2{
	font-weight: 400;
	font-size: 1.7rem;
}

.footer-content .box3 p{
	padding-top: 1rem;
	width: 50%;
	line-height: 1.6rem;
}

.hre{
	width: 50%;
	margin: 0 auto;

}

.footer-content p{
	text-align: center;
	margin-top: 2rem;
	font-size: 1.1rem;
}
/*footer ends*/

/*media queries starts*/

@media (max-width:1200px){
	.banner{
		padding-top: 10rem;
	}

}

@media (max-width:1100px){
	.box{
	width: 44%;

}

@media (max-width:1000px){


	.banner .left{
		width: 100%;
		padding: 0px;
	}

	.banner .right{
	width: 100%;
	margin-bottom: 3rem;
}

	.banner .right img {
		width: 50%;

		}

	.banner .left h1{
		font-size: 5rem;
		text-align: center;
	}

	.four-content{
	width: 100%;
}

.thrid-part .content{
	width: 100%;
}

.thrid-part .thrid-left{
	width: 100%;
}

.thrid-part .thrid-right{
	width: 100%;
}

}

@media (max-width:769px){
	.box{
		width: 100%;
	}

.thrid-part .content{
	width: 90%;
}

.thrid-part .thrid-left{
	width: 100%;
}

.thrid-part .thrid-right{
	width: 100%;
}

}


@media (max-width:559px){

	.banner .left{
		width: 100%;
	}

	.banner .right{
		width: 100%;
	}

	.banner .left h1{
		font-size: 2.6rem;
		line-height: 4rem;
		text-align: center;
	}

	.banner .left p{
		line-height: 1.6rem;
		font-size: 0.8rem;
	}

	.banner .left button{
	text-transform: uppercase;
	border: none;
	padding: 1rem 1rem;
	background-color: #252525;
	color: #fff;
	font-size: 1.1rem;
	border-radius: 0.5rem;
}


.four-content .images{
	width: 100%;
}


.four-content .images img{
	width: 100%;
}

.four-right{
	width: 100%;
	padding-top: 3.2rem;
	color: #252525;
}


.footer-content .box1{
	width: 30%;
	
}

.footer-content .box2{
	width: 30%;
	
}


.footer-content .box3{
	width: 30%;
}

.footer-content .box3 h2{
	font-size: 1.3rem;
}

.footer-content .box2 h1{
	font-size: 1.5rem;
}

.footer-content .box1 h2{
	font-size: 1.3rem;
}

.footer-content .box1  li{
	font-size: 0.9rem;
	padding: 0.7rem 1rem;
}

.footer-content .box1 i{
	padding-right: 0.7rem;
	font-size: 1rem;
}

.footer-content .box2 p{
	font-size: 1rem;
	line-height: 1.5rem;
}


.footer-content .box3 p{
	padding-top: 0rem;
	width: 80%;
	line-height: 1.rem;
}


.thrid-part .content{
	width: 100%;
}

.thrid-part .thrid-left{
	width: 100%;
}

.thrid-part .thrid-right{
	width: 100%;
}



}

/*media 430 px*/

@media (max-width:450px){
	.four-content{
	width: 100%;
	
}

.box{
	width: 100%;
}

.box h2{
	font-size: 1.5rem;

}

.box img{
	width: 70%;
	margin: 1rem;
}
.buttons{
	padding: 1rem 0.6rem 0.6rem 0.6rem;
}

.buttons h3{
	    padding-top: 0.2rem;
	    padding-right: 0.4rem;
	    font-size:1rem;
}

.buttons .button1{
	padding: 0.5rem 0.9rem;
	border-radius: 1rem;
	font-size: 1rem;
}


.buttons .button2{
	padding: 0.4rem 0.4rem;
	border-radius: 1rem;
	display: none;
}




.thrid-part .content{
	width: 100%;
}

.thrid-part .thrid-left{
	width: 100%;
}

.thrid-part .thrid-right{
	width: 100%;
}

}